<div id="body-pd">
    <p>Olá <%= current_user.name %>!</p>
    <% if current_user.role == 'admin'%>
    <p>Admin!</p>
    <% end %>
    <% if current_user.role == 'client_admin' or current_user.role == 'client' %>
    <p>Admin Cliente</p>
    <p>Cliente</p>
    <%= link_to @company.corporate_name, @company %>
    <% end %>

    <p>Notificações</p>
    <% @status_requests.each do |request| %>
    <div>
        <h3>Pedido de <%= request.requester.full_name %></h3>
        <p>Desativar Cliente: <%= request.client.full_name %></p>
        <%= link_to "Sim", change_status_request_path(request) %>
        <%= link_to "Não", '#' %>
    </div>
    <% end %>

</div>