<%= form_with model:payment_method do |f| %>
<div>
    <%= f.label :name %>
    <%= f.text_field :name%>
    <%if payment_method.errors.full_messages_for(:name).any? %>
    <ul>
        <% payment_method.errors.full_messages_for(:name).each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    <%end%>
</div>
<div>
    <%= f.label :tax %>
    <%= f.number_field :tax %>
    <%if payment_method.errors.full_messages_for(:tax).any? %>
    <ul>
        <% payment_method.errors.full_messages_for(:tax).each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    <%end%>

</div>
<div>
    <%= f.label :active %>
    <%= f.check_box :active%>
    <%if payment_method.errors.full_messages_for(:active).any? %>
    <ul>
        <% payment_method.errors.full_messages_for(:active).each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    <%end%>
</div>
<div>
    <%= f.label :icon %>
    <%= f.file_field :icon %>
</div>
<div>
    <%= f.label :payment_type %>
    <%= f.select(:payment_type,[['Pix', 'pix'], ['Cartão de Crédito', 'cartao_de_credito'], ['Boleto Bancário', 'boleto']]) %>
    <%if payment_method.errors.full_messages_for(:payment_type).any? %>
    <ul>
        <% payment_method.errors.full_messages_for(:payment_type).each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    <%end%>
</div>

<%= f.submit button_text %>
<% end %>