 <header class="header" id="header">
     <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

 </header>
 <div class="l-navbar" id="nav-bar">
     <nav class="nav">
         <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">PayNow!</span> </a>
             <div class="nav_list">
                 <%= link_to dashboard_index_path, :class=>"nav_link active" do %>
                 <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Home</span>
                 <% end %>

                 <% if current_user.role =='admin'%>

                 <%= link_to payment_methods_path :class=>"nav_link" do %>
                 <i class='bx bx-user nav_icon'></i> <span class="nav_name">Metodos de Pagamento</span>
                 <% end %>

                 <%= link_to companies_path :class=>"nav_link" do %>
                 <i class='bx bx-user nav_icon'></i> <span class="nav_name">Empresas</span>
                 <% end %>

                 <%= link_to clients_path :class=>"nav_link" do %>
                 <i class='bx bx-user nav_icon'></i> <span class="nav_name">Clientes</span>
                 <% end %>
                 <% end %>
             </div>
         </div>
         <%= link_to  destroy_user_session_path , method: :delete , :class=> "nav_link sign_out_button" do %>
         <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Sair</span>
         <% end %>
     </nav>
 </div>