<!DOCTYPE html>
<html>

<head>
    <title>Pay Now!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <% if notice %>
    <div class="notice alert alert-primary"> <strong><%= notice %></strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    <% end %>
    <% if alert %>
    <div class="alert alert-dark"> <strong><%= alert %></strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></div>
    <% end%>

    <% if user_signed_in?  %>
    <%= render 'layouts/sidenav' %>
    <div class="height-100 bg-light body"> <%= yield %></div>
    <% else %>
    <%= yield %>
    <% end %>


</body>

</html>